@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #122b7d, 0 0 40px #122b7d, 0 0 50px #122b7d, 0 0 60px #122b7d, 0 0 70px #122b7d;
    }
    
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #122b7d, 0 0 40px #122b7d, 0 0 50px #122b7d, 0 0 60px #122b7d, 0 0 70px #122b7d;
    }
}

html{
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url("https://upload-os-bbs.mihoyo.com/upload/2021/03/01/96734061/e4627fe79a4b23c153df45d8244ce85c_8985210134192762905.png?x-oss-process=image/resize,s_740/quality,q_80/auto-orient,0/interlace,1/format,jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

#content{
    display: flex;
    height: 100%;
}

#title-content{
    display: flex;
    background-color: rgba(115, 115, 115, 0.7);
    width: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
}

#name {
    opacity: 0.8;
    display: block;
    margin-left: 7%;
    margin-right: auto;
    width: 200%;
}

#paimon{
    height: 200px;
    opacity: 1;
}

#navbar-content{
    width: 80%;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation: glow 1s ease-in-out infinite alternate;
}

.navbar-item{
    width: 10%;
    font-size: 1.5em;
    text-align: center;
    height: 40px;
    margin-top: 3vh;
}

#navbar-img{
    width: 100%;
}