html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.coupon {
    border: 5px dotted #bbb; /* Dotted border */
    width: 40%;
    border-radius: 15px; /* Rounded border */
    max-width: 300px;
  }
  
.container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}

.photo {
  width: 100%;
  height: auto;
}

.line1 {
  display: flex;
  justify-content: space-evenly;
}

.line2 {
  display: flex;
  justify-content: space-evenly;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background-color: #555;
  color: #f1f1f1;
  font-size: 20px;
}